﻿<link rel="import" href="/sys/puppet-redirect/puppet-redirect.html" />

<template>
    <template is="dom-bind">
        
        If You were not automatically redirected, this is where You was supposed to go: <a href="{{model.RedirectUrl}}" target="_self">{{model.RedirectUrl}}</a><br />

        <script>
            document.location.href = "{{model.RedirectUrl}}";
        </script>
    </template>
    
</template>
