﻿<link rel="import" href="/sys/polymer/polymer.html" />
<link rel="import" href="/sys/bootstrap.html">

<template>
    <template is="dom-bind">
        <h3>OAuth2 Settings</h3>
        
        <div style="margin-bottom: 20px;">
            <h4>Google</h4>
            <div class="form-horizontal">
                <label>
                    <input type="checkbox" id="GoogleEnabled$" class="form-control" checked="{{model.GoogleEnabled$::change}}" />
                    Enabled
                </label>
            </div>
            <div class="form-horizontal">
                <label class="control-label" for="GoogleClientID$">ClientID</label>
            </div>
            <div>
                <input id="GoogleClientID$" type="text" value="{{model.GoogleClientID$::change}}" placeholder="" class="form-control" />
            </div>
            <div class="form-horizontal">
                <label class="control-label" for="GoogleClientSecret$">ClientSecret</label>
            </div>
            <div>
                <input id="GoogleClientSecret$" type="text" value="{{model.GoogleClientSecret$::change}}" placeholder="" class="form-control" />
            </div>

        </div>

        <div style="margin-bottom: 20px;">
            <h4>Microsoft</h4>

            <div>
                <label class="control-label">
                    <input type="checkbox" id="MicrosoftEnabled$" class="form-control"  checked="{{model.MicrosoftEnabled$::change}}"/>
                    Enabled
                </label>
            </div>
            <div class="form-horizontal">
                <label class="control-label" for="MIcrosoftClientID$">Microsoft ClientID</label>
            </div>
            <div>
                <input id="MicrosoftClientID$" type="text" value="{{model.MicrosoftClientID$::change}}" placeholder="" class="form-control" />
            </div>
            <div class="form-horizontal">
                <label class="control-label" for="MicrosoftClientSecret$">Microsoft ClientSecret</label>
            </div>
            <div>
                <input id="MicrosoftClientSecret$" type="text" value="{{model.MicrosoftClientSecret$::change}}" placeholder="" class="form-control" />
            </div>
        </div>


        <div style="margin-bottom: 20px;">
            <h4>Facebook</h4>

            <div>
                <label class="control-label">
                    <input type="checkbox" id="FacebookEnabled$" class="form-control" checked="{{model.FacebookEnabled$::change}}" />
                    Enabled
                </label>
            </div>
            <div class="form-horizontal">
                <label class="control-label" for="FacebookClientID$">Facebook ClientID</label>
            </div>
            <div>
                <input id="FacebookClientID$" type="text" value="{{model.FacebookClientID$::change}}" placeholder="" class="form-control" />
            </div>
            <div class="form-horizontal">
                <label class="control-label" for="FacebookClientSecret$">Facebook ClientSecret</label>
            </div>
            <div>
                <input id="FacebookClientSecret$" type="text" value="{{model.FacebookClientSecret$::change}}" placeholder="" class="form-control" />
            </div>
        </div>


        <button class="btn btn-primary" onmousedown="++this.value;" value="{{model.Save$::click}}">Save</button>
        <button class="btn btn-default" value="{{model.Rollback$::click}}">Undo</button>
        <button class="btn btn-default" onmousedown="++this.value;" value="{{model.Close$::click}}">Close</button>

    </template>

</template>
