﻿<link rel="import" href="/sys/polymer/polymer.html">

<template>
    <template is="dom-bind">
        <ul>
            <li hidden$="{{!model.GoogleEnabled$}}"><a href="/oauth2/google/signin?final_destination={{model.FinalDestination}}" target="_self">Login with Google+</a></li>
            <li hidden$="{{!model.MicrosoftEnabled$}}"><a href="/oauth2/microsoft/signin?final_destination={{model.FinalDestination}}" target="_self">Login with Microsoft</a></li>
            <li hidden$="{{!model.FacebookEnabled$}}"><a href="/oauth2/facebook/signin?final_destination={{model.FinalDestination}}" target="_self">Login with Facebook</a></li>
            <li>-</li>
            <li hidden$="{{!model.GoogleEnabled$}}"><a href="/oauth2/google/signin?final_destination={{model.FinalDestination}}&scope=https://www.googleapis.com/auth/calendar" target="_self">Login with Google+ and ask for calendar scope (experimental)</a></li>
        </ul>        
    </template>
</template>
